.age-verification-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loading-state {
  text-align: center;
  padding: 50px;
  color: #424e53;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #424e53;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

.result-container-centered {
  width: 100%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.result-card {
  background: white;
  padding: 5px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 400px;
}

.result-card.status-allowed {
    background-color: #75df7a;
}

.result-card.status-denied {
    background-color: #df7575;
}

.result-card h3 {
  font-size: 1.5em;
  margin: 15px 0; 
}

.retake-button {
  margin-top: 0px;
  margin-bottom: 10px;
  color: white;
  font-size: 1.2rem;
  background-color: #424e53;
  border: 2px solid #424e53;
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.result-face-img {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0 auto;
}

.result-age-text {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

.result-age-text p {
    margin: 15px 0; 
}